body {
    background-color: rgb(195 186 186);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 2rem;
    align-items: center;
}

.clock-sec {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-sec {
    width: 50%;
}

.hero-sec img {
    width: 100%;
    margin: 8vh 0;
}

span.inner-span {
    font-size: 4vw;
    margin: 0 10%;

}

span.span {
    font-size: 7vw;
    margin: 0 25%;
}

/* @media Queries */
@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .hero-sec {
        width: 100%;
    }
    span.span {
        font-size: 11vw;
        margin-top: 5vh;
    }
    .hero-sec img {
        margin: 5vh 0;
    }
    span.inner-span {
        margin: 0 0;
    }
}
